#title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#resultDisplay {
    display: flex;
    text-align: center;
    justify-content: center;
}

.gameGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}